h1 {
    font-family: 'Railway';
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 3%;
}

.blue {
    color: #2196F3;
}

.black {
    color: #000000;
}

header a {
    font-family: 'Roboto';
    font-size: 14px;
    letter-spacing: 2%;
    font-weight: 400;
    text-decoration: none;
    color: #212121;
}

h2 {
    font-family: 'Roboto';
    font-size: 44px;
    font-weight: bold;
    color: white;
    letter-spacing: 6%;
    line-height: 60px;
}

button {
    font-family: 'Roboto';
    font-size: 16px;
    letter-spacing: 6%;
    font-weight: bold;
    color: white;
    line-height: 30px;
}

h3 {
    font-family: 'Roboto';
    font-size: 36px;
    letter-spacing: 3%;
    font-weight: bold;
    color: #212121;
}

h6 {
    font-family: 'Roboto';
    font-size: 16px;
    letter-spacing: 3%;
    font-weight: bold;
    color: #212121;
}

p, footer a {
    font-family: 'Roboto';
    font-size: 16px;
    letter-spacing: 3%;
    font-weight: normal;
    color: #757575;
    line-height: 24px;
}

.white {
    color: white;
} 

header {
    display: flex;
    padding-left: 215px;
    padding-right: 215px;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-between;
    align-items: center;
}
 
header ul {
    display: flex;
    gap: 50px;
    list-style: none;
    margin-right: 250px;
}

header div {
    display: flex;
    gap: 50px;
}
.section2 {
    display: flex;
    padding-left: 215px;
    padding-right: 215px;
    justify-content: space-between;
    gap: 30px;
}

.section3 div {
    display: flex;
    padding-left: 215px;
    padding-right: 215px;
    justify-content: space-between;
    gap: 30px;
}

.section3 img {
    max-width: 370px;
    
}
.section4 > div {
    display: flex;
    padding-left: 215px;
    padding-right: 215px;
    justify-content: space-between;
    gap: 30px;
}

.section4 > div > div {
    max-width: 270px;
}

.section4 img {
    max-width: 100%;
}